.App {
    text-align: center;
}
.content {
    position: absolute;
    color:crimson;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10;
    display: flex;
    align-items: center;
    margin-top: 300px;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ffffff96;
    filter: alpha(opacity=0.8);
    font-size: 25px;
}
.hai {
    text-align: center;
    color: midnightblue;
    font-family: stencil;
    font-size: 40px;
    font-weight: 900;
    overflow: hidden;
}
div:first-of-type {
    animation: showup 7s infinite;
}
div:last-of-type span {
    animation: slidein 7s infinite;
}
@keyframes showup {
    20% {
        opacity: 15;
    }
    100% {
        opacity: 5;
    }
}
@keyframes slidein {
    0% {
        margin-left: -1000px;
    }
    50% {
        margin-left: 0px;
    }
}